/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");
body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* About content */
.about-content {
  display: flex;
  align-items: center;
  width: 650px;
}

/* Text container in About section */
.about-text-container {
  text-align: center;

}

/* Paragraph and list items inside about-text-container */
.about-text-container p, ul {
  display: block;
  text-align: left; /* Align all text to the left */
  margin-left: 50px; /* Adds a 50px margin to the left of each item */
  margin-top: 15px; /* Adds a 15px margin to the top of each item */
  margin-bottom: 15px; /* Adds a 15px margin to the bottom of each item */
}

/* Each list item in About text container */
.about-text-container li {
  margin: 5px; /* Adds a 5px margin around each li item */
}

/* All content inside Portfolio */
.portfolio-content {
  display: flex; 
  flex-wrap: nowrap; /* Make sure that each item does not wrap onto the next line */
  flex-direction: row; /* Makes the flex container arrange each item in a row */
  align-items: center; /* Aligns all items in the center */
}

/* All sections inside Portfolio content  */
.portfolio-content section {
  text-align: center; /* Center align the text */
  margin: 10px;  /* Add spacing between the sections */
  flex: 1; /* Distribute available space equally among sections */
  max-width: 33%; /* Set the max width of each item in this section to 33% */
  height: 500px; /* Set max height of each item in this section to 500px */
}

/* Header 3 of Portfolio content */
.portfolio-content h3 {
  text-align: center; /* Center align h3 */
}

/* All descriptions of portfolio content */
.portfolio-content p {
  font-size: 14px; /* Set description of portfolio content to 14px */
}

/* All images inside Portfolio content */
.portfolio-content img {
  max-width: 100%; /* Set all images in portfolio to have a max width of 100% */
}

/* Background content */
.background-content {
  margin-bottom: 75px; /* Set a bottom margin to the background content */
}

/* Header */
header {
  text-align: center; /* Align text in the center */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Navigation at the top of the page */
nav {
  margin-left: 20px; /* Add a 20px margin to the left of nav */
}

/* All links in nav */
nav a {
  margin: 10px; /* Add a 10px margin around the links in nav */
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
